body {
  margin: 0px;
  padding: 0px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  min-width: 300px;
  overflow-x: hidden;
}

.mePic {
  height: 50vh;
  border-radius: 10px;
}


.styledSelect {
  border-radius: 3px;
  height: 34px;
  font-size: 20px;
}

.peekaboo {
  position: fixed;
}

#profession {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  cursor: hand;
  cursor: pointer;
}

select:focus {
  outline: none
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.inner a {
  text-decoration: none;
  color: black;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.inner a:hover {
  text-decoration: underline;
}

.social {
  height: 64px;
  width: 64px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: hand;
  cursor: pointer;
}

.social#linkedIn {
  width: 64px;
  height: 55px;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 500px) {
  .inner {
    width: 90vw;
  }
  .mePic {
    max-height: 400px;
  }
  h2 {
    font-size: 20px;
  }
}
