@import "tailwindcss";

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
}

.shake {
  animation: shake 0.4s ease-in-out;
}

.peekaboo {
  position: fixed;
  pointer-events: none;
  transition: top 0.2s ease, left 0.2s ease;
}
